---
import Layout from '@layouts/Default.astro';

const title = 'Home';
---

<Layout title={title}>
<section>
	<h2>COMING SOON</h2>
</section>
</Layout>

<style>
section {
	display: flex;
	align-items: center;
	justify-content: center;
	h2 {
		padding: 48px;
	}
}
</style>
