---
export interface Props {
	name?: string;
	url?: string;
}
const { name, url } = Astro.props;
---

<a href={url} class:list={['navLink', {active: url === Astro.url.pathname}]}>{name}</a>

<style lang="scss">
@use '@assets/styles' as theme;
.navLink {
	display: block;
	flex: 0 0 12ch;
	font-family: theme.$sans-font;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 4px;
	color: inherit;
	transition: all ease-in 100ms;
	// &.active,
	&:hover {
		color: theme.get-color('foreground')
		//background: linear-gradient(transparent 90%, #fff);
	}
	@media only screen and (min-width: theme.$breakpoint-large) {
		padding: 8px;
		font-size: 14pt;
	}
}
</style>
